[Desktop Entry]
Name=copy-router-config
Encoding=UTF-8
Exec=sh -c "copy-router-config.pl;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-12-snmp-analysis;02-02-01-cisco-tools;06-01-01-cisco-attacks;
